# Barsic web
PROJECT_NAME="Barsic Bot"
DEBUG=true

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=barsic
POSTGRES_PASSWORD=qwe123
POSTGRES_DB=barsic

REDIS_HOST=redis
REDIS_PORT=6379

BOT_TELEGRAM_TOKEN="1232323:tttteesttt"
USER_PASSWORD="pass"
ADMIN_PASSWORD="pass"
WRITE_PASSWORD_LIMIT_PER_DAY=10
BARSIC_WEB_HOST=localhost
BARSIC_WEB_PORT=80
CACHE_TIME=2592000

# Postgres
#POSTGRES_USER=barsic
#POSTGRES_PASSWORD=qwe123
#POSTGRES_DB=barsic

# Redis
ALLOW_EMPTY_PASSWORD=yes
